# EditorConfig
# top-most EditorConfig file
root = true

[*.m]
indent_style = space
indent_size = 4
charset = big5

[*.c]
indent_style = space
indent_size = 4
charset = utf-8

[*.h]
indent_style = space
indent_size = 4
charset = utf-8

[Makefile]
indent_style = tab
